.navbar-expand-lg{
	background: #34cf61 !important;
}
.social-icons .social-icon{
	background: #34cf61 !important;
}
#interests_content svg{
	color: #34cf61 !important;
}
#interests_content li{
	margin-bottom: 5%;
}
.fa-star{
	color: #34cf61 !important;
}

.bg-primary{
	background-color: #34cf61 !important;
}
.text-primary{
	color: #34cf61 !important;
}